pipeline/NYCDataProcess.json
{
	"name": "NYCDataProcess",
	"properties": {
		"activities": [
			{
				"name": "NYCCabDataLoad",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('NYCCabMonth')",
						"type": "Expression"
					},
					"batchCount": 12,
					"activities": [
						{
							"name": "NYCYellowCabData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "NYCYelloCabDataSource",
									"type": "DatasetReference",
									"parameters": {
										"NYCCabYear": "2020",
										"NYCCabMonthLoad": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "NYCBlobStageIN",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "NYCDataIngestion",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "NYCCabDataLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/NYCYellowDataIntegration/NYCYellowCabIntegration"
				},
				"linkedServiceName": {
					"referenceName": "NYCDataProcess",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "NYCDataInsight",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "NYCDataIngestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/NYCYellowDataIntegration/NYCYellowCabInsight"
				},
				"linkedServiceName": {
					"referenceName": "NYCDataProcess",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"NYCCabYear": {
				"type": "string",
				"defaultValue": "2020"
			}
		},
		"variables": {
			"NYCCabMonth": {
				"type": "Array",
				"defaultValue": [
					"01",
					"02",
					"03",
					"04",
					"05",
					"06",
					"07",
					"08",
					"09",
					"10",
					"11",
					"12"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-01-18T19:08:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}